#Experiment 9 - Study of Pandas
###Aditi Mishra
###25070123175
###ENTC A2

In [42]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
#Create Dataframe

data = {

        "Name":["A","B","C","D","E"],
        "Marks":[90,95,98,80,76]
}
df = pd.DataFrame(data)
df

  Name  Marks
0    A     90
1    B     95
2    C     98
3    D     80
4    E     76

In [44]:
#Find the structure of the data frame

df.shape

(5, 2)

In [45]:
#Find dimension of data frame

df.ndim

2

In [46]:
#Find size of data frame

df.size

10

In [47]:
#Display column names

df.columns

Index(['Name', 'Marks'], dtype='object')

In [48]:
#Check data types of each column

df.dtypes

Name     object
Marks     int64
dtype: object

In [49]:
#Access individual column

df["Name"]

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object

In [50]:
#Access specific row

df.loc[2]

Name      C
Marks    98
Name: 2, dtype: object

In [58]:
#Add a new column

df["Ranking"] = ["Third", "Second","First","Fourth","Fifth"]
df

  Name  Marks Ranking
0    A     90   Third
1    B     95  Second
2    C     98   First
3    D     85  Fourth
4    E     76   Fifth

In [53]:
#Update data in dataframe

#Change marks of student D to 85

df.loc[3,"Marks"] = 85
df

  Name  Marks Ranking
0    A     90   Third
1    B     95  Second
2    C     98   First
3    D     85  Fourth
4    E     76   Fifth

In [59]:
#Delete a column

df.drop("Ranking",axis=1, inplace = True)
df

  Name  Marks
0    A     90
1    B     95
2    C     98
3    D     85
4    E     76

###Basic statistical ananlysis

In [60]:
#mean

mean1 = df["Marks"].mean()
mean1

np.float64(88.8)

In [61]:
#minimum marks

min1 = df["Marks"].min()
min1

76

In [62]:
#maximum marks

max1 = df["Marks"].max()
max1

98

###Apply conditions (Filtering)

In [63]:
#Display students scoring more than 80

df[df["Marks"]>80]

  Name  Marks
0    A     90
1    B     95
2    C     98
3    D     85